[Unit]
Description=Packetframe Edge Daemon

[Service]
User=root
ExecStart=/usr/bin/edged -db-host 172.16.90.1 -dns-listen 66.248.234.6:53 -zone-refresh 1s -script-refresh 1s

[Install]
WantedBy=multi-user.target
