{
  email info@packetframe.com
}

v4.packetframe.com {
  root * /etc/caddy/public/
  file_server
  encode gzip

  route /api/* {
    uri strip_prefix /api
    reverse_proxy api:8080
  }

  log {
    # TODO: The resulting log file on the host system is empty
    output file /var/log/caddy.log {
      roll_size 1gb
      roll_keep 1
      roll_keep_for 7d
    }
  }
}
