{
  email info@packetframe.com
}

packetframe.com {
  root * /etc/caddy/public/
  file_server
  encode gzip

  route /api/* {
    uri strip_prefix /api
    reverse_proxy api:8080
  }

  log {
    output file /var/log/caddy.log {
      roll_size 1gb
      roll_keep 1
      roll_keep_for 7d
    }
  }
}

grafana.packetframe.com {
  reverse_proxy http://grafana:3000
}
