[Unit]
Description=BIRD Exporter

[Service]
User=bird
Group=bird
ExecStart=/usr/local/bin/bird_exporter -format.new=true -bird.v2 -proto.ospf=false -bird.socket="/var/run/bird/bird.ctl" -web.listen-address="{{ ansible_host }}:9324"

[Install]
WantedBy=multi-user.target
