[Unit]
Description=Verfploeter
Documentation=https://github.com/natesales/go-verfploeter
After=network.target

[Service]
CapabilityBoundingSet=CAP_NET_RAW
AmbientCapabilities=CAP_NET_RAW
User=pfservice
Group=pfservice
ExecStart=/usr/bin/go-verfploeter -c /etc/verfploeter.yml -t /etc/verfploeter-targets.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
